/* Footer container */
#footer {
	position: fixed;
	inset-block-end: 0; /* bottom: 0 */
	inset-inline: 0; /* left: 0; right: 0 */
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Columns */
#footer .column {
	flex: 1;
	padding-inline: 10px;
	transition: background-color 100ms ease-in-out;
}
#footer .column:hover {
	background-color: #eee;
}

/* Links */
#footer a {
	display: block;
	height: 100%;
	padding-block: 2em 1em; /* top / bottom */
	text-decoration: none;
}

/* Link image + text */
#footer a img {
	height: 4vw;
}
#footer a p {
	margin-top: 0.5rem;
	font-size: 3vw;
}

@media (min-width: 900px) {
	#footer a img {
		height: 2.5rem;
	}
	#footer a p {
		font-size: 1.8rem;
	}
}

/* Selected / not selected states */
#footer a.selected p {
	color: #5b694f;
}
#footer a.notSelected p {
	color: #d9d9d9;
} /* covers visited too */
