header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 30px;
	align-items: center;
}
header > h1 {
	font-family: "Henderson BCG Serif Head";
	font-weight: 100;
	font-size: 7vw;
	line-height: 27px;
}
header > img {
	height: 6.5vw;
	margin-right: 20px;
}

@media screen and (min-width: 900px) {
	header > h1 {
		font-size: 3.9rem;
	}
	header > img {
		height: 3.5rem;
	}
}

#days,
#mapItems {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	/* border-bottom: #939393 1px solid; */
}

.day,
.mapItem {
	background-color: #ffffff;
	padding: 5vw 2vw;
	border: none;
	text-align: center;
	font-family: "Henderson BCG Serif Head";
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: #c7c7c7;
}

.day,
.mapItem {
	font-size: 3vw;
}
@media screen and (min-width: 900px) {
	.day,
	.mapItem {
		font-size: 3vw;
	}
}
/* @media screen and (max-width: 400px) {
	.day,
	.mapItem {
		background-color: blue;
	}
} */

.day:hover,
.mapItem:hover {
	cursor: pointer;
}

.separator {
	padding: 20px 0;
	height: 72%;
	width: 0px;
	border: #c7c7c7 1px solid;
}

#programmeHeader {
	background-color: #85a9a0;
	color: #ffffff;
}
#mapHeader {
	background-color: #d8ebab;
	color: #5b694f;
}
#participantsHeader {
	background-color: #50798e;
	color: #ffffff;
}
