#welcome {
	display: flex;
	flex-direction: column;
}

#landscape {
	width: 100%;
	margin: auto;
	margin-bottom: 7rem;
}

#logo {
	width: 100vw;
	margin: auto;
}
@media screen and (min-width: 400px) {
	#logo {
		width: 50vw;
	}
}

section > .textBlock {
	padding: 0 40px;

	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	color: #000;
}

#signatures {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sign {
	margin: 0 7vw;
	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}
#signatures img {
	height: 10vw;
	margin: auto;
}

@media screen and (max-width: 600px) {
	#signatures img {
		height: 15vw;
	}
}
@media screen and (min-width: 900px) {
	#signatures img {
		height: 9rem;
	}
}

#cardProgramme {
	padding: 4rem 5rem;
}

#cardProgramme > img {
	display: block;
	margin: auto;
	width: 75vw;
	max-width: 500px;
}
#cardProgramme > h2,
#contacts > h2 {
	font-family: "Henderson BCG Serif Head";
	font-weight: 400;
	font-size: 5.5vw;
}

@media screen and (min-width: 900px) {
	#cardProgramme > h2,
	#contacts > h2 {
		font-size: 3rem;
	}
}
@media screen and (max-width: 600px) {
	body #cardProgramme h2,
	body #contacts h2 {
		font-size: 2rem;
	}
}

#cardProgramme {
	background-color: #d8ebab;
	color: #5b694f;
}
#cardProgramme > .button {
	background-color: #5b694f;
	color: #ffffff;
}
#cardProgramme .button:hover {
	background-color: #7b8772;
}

#cardProgramme > .button {
	margin: 4rem auto;
	display: block;
	font-family: "Henderson BCG Serif Head";
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 3.5rem;
	border: none;
	cursor: pointer;
}

#solar {
	overflow: hidden;
	width: 50vw;
	max-width: max-content;
	position: relative;
	/* left: -20vw; */
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
