#welcome {
	display: flex;
	flex-direction: column;
}

#welcome > h1 {
	color: #a5a5a5;
	font-family: "Henderson BCG Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 85%;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 60px;
}

#welcome > #eventLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#landscape {
	width: 100%;
}

section > .textBlock {
	padding: 0 40px;

	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	color: #000;
	/* display: flex; */
	/* flex-direction: column; */
}

#signatures {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sign {
	margin: 0 7vw;
	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}
#signatures svg {
	height: 7vw;
	margin: auto;
}
@media screen and (max-width: 600px) {
	#signatures svg {
		height: 10vw;
	}
}

#cardProgramme,
#cardCarte,
#cardParticipants {
	padding: 4rem 5rem;
}

#cardProgramme > img,
#cardCarte > img,
#cardParticipants > img {
	display: block;
	margin: auto;
	width: 75vw;
	max-width: 500px;
}
#cardProgramme > h2,
#cardCarte > h2,
#cardParticipants > h2 {
	font-family: "Henderson BCG Serif Head";
	font-weight: 400;
	font-size: 5.5vw;
	line-height: 56px;
}

@media screen and (min-width: 900px) {
	#cardProgramme > h2,
	#cardCarte > h2,
	#cardParticipants > h2 {
		font-size: 48px;
	}
}

#cardProgramme {
	background-color: #d8ebab;
	color: #5b694f;
}
#cardProgramme > .button {
	background-color: #5b694f;
	color: #ffffff;
}
#cardProgramme .button:hover {
	background-color: #7b8772;
}

#cardCarte {
	background-color: #50798e;
	color: #ffffff;
}
#cardCarte > .button {
	background-color: #ffffff;
	color: #50798e;
}
#cardCarte > .button:hover {
	background-color: #84a1af;
	color: #fff;
}
#cardParticipants {
	background-color: #85a9a0;
	color: #ffffff;
}
#cardParticipants > .button {
	background-color: #d8ebab;
	color: #50798e;
}
#cardParticipants > .button:hover {
	background-color: #97a477;
	color: #ffffff;
}

#cardParticipants > h2 {
	color: #d8ebab;
}
#cardProgramme > .button,
#cardCarte > .button,
#cardParticipants > .button {
	margin: 4rem auto;
	display: block;
	font-family: "Henderson BCG Serif Head";
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	width: 30%;
	height: 3.5rem;
	border: none;
	cursor: pointer;
}

section#contacts h2 {
	font-family: "Henderson BCG Serif Head";
	font-size: 4rem;
	font-weight: 100;
}

#solar {
	overflow: hidden;
	width: 100vw;
	max-width: max-content;
	position: relative;
	left: -20vw;
}
