section#contacts {
	margin-left: 3rem;
}

#contactList {
	margin: 0 20px;
}
.contactInfo {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
	justify-content: space-between;
	margin-right: 3rem;
}

p.contactName,
p.contactPhone {
	font-size: 1.3em;
	margin: 0;
}

p.contactName {
	font-family: "Henderson BCG Sans";
	color: #62a176;
	font-style: italic;
	font-weight: 100;
}
p.contactPhone {
	font-family: "Henderson BCG Sans";
}
@media screen and (min-width: 600px) {
	.contactInfo {
		width: 30rem;
	}
}

#contacts h3 {
	font-family: "Henderson BCG Serif Head";
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
}
#contacts > p {
	font-family: "Henderson BCG Serif Head";
	font-size: 1.2rem;
	color: black;
	margin-top: 0rem;
	margin-bottom: 1rem;
	margin-right: 3rem;
}

@media screen and (max-width: 400px) {
	#contacts > p,
	section#contacts {
		margin-left: 2rem;
		margin-right: 1rem;
	}
	p.contactName,
	p.contactPhone {
		font-size: 1.1em;
	}

	#contacts > p {
		font-size: 0.9em;
	}
}
