#contactList {
	margin: 0 20px;
}
.contactCell {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}
.contactInfo {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	margin-left: 2rem;
}

p.contactName,
p.contactPhone {
	font-size: 1.5rem;
	margin: 0;
}

p.contactName {
	font-family: "Henderson BCG Sans";
	color: #62a176;
	font-style: italic;
	font-weight: 100;
	margin: 0;
}
p.contactPhone {
	font-family: "Henderson BCG Serif Head";
}

#contacts h3 {
	font-family: "Henderson BCG Serif Head";
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
#contacts > p {
	font-family: "Henderson BCG Serif Head";
	font-size: 1.2rem;
	color: black;
	margin-top: 0rem;
	margin-bottom: 1rem;
}
