#contactList {
	margin: 0 20px;
}
.contactCell {
	border: #e4e4e4 2px solid;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}
img.contactPic {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin: 1rem;
	background: #e4e4e4;
}
p.contactName,
p.contactPhone {
	font-family: "Henderson BCG Serif Head";
}
p.contactName {
	color: #62a176;
}
p.contactPhone {
	color: #000000;
}

.contactIcon {
	width: 2rem;
	margin: auto 0;
	margin-left: auto;
	margin-right: 1rem;
}
