body #footer {
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: #939393 solid 1px;
}

#footer div {
	flex-grow: 1;
}
#footer a {
	display: block;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 1em;
	text-decoration: none;
}

#footer a img {
	height: 3rem;
}

#footer a p {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}
#footer div:hover {
	background-color: #eee;
	transition: background-color 100ms ease-in-out;
}
.notSelected img {
	opacity: 50%;
}

.selected img {
	opacity: 100%;
}

a.selected p {
	color: #5b694f;
}
a.notSelected p,
a.notSelected:visited p {
	color: #d9d9d9;
}
