#programmeHeader {
	background-color: #85a9a0;
	color: #ffffff;
}
#mapHeader {
	background-color: #d8ebab;
	color: #5b694f;
}
#participantsHeader {
	background-color: #50798e;
	color: #ffffff;
}
.schedule {
	color: #85a9a0;
	font-family: "Henderson BCG Sans";
	font-weight: 100;
	font-style: italic;
	font-size: 1rem;
}
.schedTitle {
	font-family: "Henderson BCG Serif Head";
	color: #000000;
	font-size: 1.5rem;
}
.schedText {
	font-family: "Henderson BCG Sans";
	color: #6a6a6a;
}

h2 {
	color: #85a9a0;
	font-family: "Henderson BCG Serif Head";
	font-size: 5rem;
	font-weight: 100;
	text-transform: uppercase;
}
