#programmeHeader {
	background-color: #85a9a0;
	color: #ffffff;
}
#mapHeader {
	background-color: #d8ebab;
	color: #5b694f;
}
#participantsHeader {
	background-color: #50798e;
	color: #ffffff;
}
.schedule {
	color: fuchsia;
}
.schedTitle {
	color: red;
}
.schedText {
	color: blue;
}
