@font-face {
	font-family: "Henderson BCG Sans";
	src: url("fonts/BCGHenSansRegular.ttf");
}
@font-face {
	font-family: "Henderson BCG Serif";
	src: url("fonts/BCGHenSerifRegular.ttf");
}
body {
	background-color: white;
	font-family: "Henderson BCG Sans";
}

.has-text-centered {
	text-align: center;
}

#welcome {
	display: flex;
	flex-direction: column;
}

#welcome > h1 {
	color: #a5a5a5;
	font-family: "Henderson BCG Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 85%;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 60px;
}

#welcome > #eventLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#landscape {
	width: 100%;
}

section > .textBlock {
	padding: 0 40px;

	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	color: #000;
}

body > footer {
	background-color: white;
	position: fixed;
	bottom: 0px;
	padding: 0;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
}
