@font-face {
	font-family: "Henderson BCG Sans";
	src: url("fonts/BCGHenSansRegular.ttf");
}
@font-face {
	font-family: "Henderson BCG Serif";
	src: url("fonts/BCGHenSerifRegular.ttf");
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-color: white;
	font-family: "Henderson BCG Sans";
	padding-bottom: 200px;
}

.has-text-centered {
	text-align: center;
}

section {
	/* margin-bottom: 100px; */
}

#bigMap {
	width: 90%;
	display: block;
	margin: auto;
}
