@font-face {
	font-family: "Henderson BCG Sans";
	src: url("fonts/BCGHenSansRegular.ttf");
}
@font-face {
	font-family: "Henderson BCG Serif";
	src: url("fonts/BCGHenSerifRegular.ttf");
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	padding-bottom: 200px;
	background-color: white;
	font-family: "Henderson BCG Sans";
	padding-bottom: 200px;
}

.has-text-centered {
	text-align: center;
}

section {
	margin-bottom: 100px;
}

#welcome {
	display: flex;
	flex-direction: column;
}

#welcome > h1 {
	color: #a5a5a5;
	font-family: "Henderson BCG Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 85%;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 60px;
}

#welcome > #eventLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#landscape {
	width: 100%;
}

section > .textBlock {
	padding: 0 40px;

	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	color: #000;
}

#signatures {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sign {
	margin: 0 80px;
	font-family: "Henderson BCG Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

#cardProgramme,
#cardCarte,
#cardParticipants {
	display: flex;
	flex-direction: column;
}

#cardProgramme > img,
#cardCarte > img,
#cardParticipants > img {
	margin: auto;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#cardProgramme > h2,
#cardCarte > h2,
#cardParticipants > h2 {
	font-family: "Henderson BCG Serif";
	font-weight: 400;

	font-size: 48px;
	line-height: 56px;
	text-align: center;
}

#cardProgramme {
	background-color: #d8ebab;
	color: #5b694f;
}
#cardProgramme > .button {
	background-color: #5b694f;
	color: #ffffff;
}

#cardCarte {
	background-color: #50798e;
	color: #ffffff;
}
#cardCarte > .button {
	background-color: #ffffff;
	color: #50798e;
}
#cardParticipants {
	background-color: #85a9a0;
	color: #ffffff;
}
#cardParticipants > .button {
	background-color: #d8ebab;
	color: #50798e;
}
#cardParticipants > h2 {
	color: #d8ebab;
}
#cardProgramme > .button,
#cardCarte > .button,
#cardParticipants > .button {
	margin: auto;
	font-family: "Henderson BCG Serif";
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	width: 30%;
	border: none;
}

body > footer {
	background-color: white;
	position: fixed;
	bottom: 0px;
	padding: 0;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
}
#bigMap {
	width: 90%;
	display: block;
	margin: auto;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 30px;
	align-items: center;
}
header > h1 {
	font-family: "Henderson BCG Serif";
	font-weight: 100;
	font-size: 3.5rem;
	line-height: 27px;
}
header > img {
	height: 3.5rem;
	margin-right: 20px;
}

#days,
#mapItems {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	border-bottom: #939393 1px solid;
}

.day,
.mapItem {
	background-color: #ffffff;
	padding: 3rem 2rem;
	border: none;
	text-align: center;
	font-family: "Henderson BCG Serif Head";
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 18px;
	color: #c7c7c7;
}
.day:hover,
.mapItem:hover {
	cursor: pointer;
}

.separator {
	padding: 20px 0;
	height: 72%;
	width: 0px;
	border: #c7c7c7 1px solid;
}
#programmeHeader {
	background-color: #85a9a0;
	color: #ffffff;
}
#mapHeader {
	background-color: #d8ebab;
	color: #5b694f;
}
#participantsHeader {
	background-color: #50798e;
	color: #ffffff;
}
.schedule {
	color: fuchsia;
}
.schedTitle {
	color: red;
}
.schedText {
	color: blue;
}
#peopleList {
	width: 90%;
	margin: auto;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}
.person {
	margin-bottom: 5rem;
	background-color: #ffffff;
}
.person > img {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	width: 100%;
}
.person > p {
	margin-top: 2rem;
	text-align: left;
	font-family: "Henderson BCG Serif";
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	color: #000000;
}

#magnifier {
	display: flex;
	justify-content: flex-start;
	margin: 2rem auto;
	width: 90%;
	height: 4rem;
	position: relative;
}

#magnifier > svg {
	background-color: #f7f7f7;
	position: absolute;
	height: 100%;
	width: 2rem;
	left: 0px;
	padding-left: 1rem;
}

#participantsSearch {
	margin-left: 3rem;
	padding-left: 1rem;
	background-color: #f7f7f7;
	height: 100%;
	width: 100%;
	border: none;
	font-family: "Henderson BCG Serif";
	font-size: 1.5rem;
	color: #000000;
}
input[type="search"]::placeholder {
	color: #000000; /* Placeholder text color */
}
