#subpageHeader,
.subpageText,
#subpageURL,
li,
h3 {
	margin-left: 3rem;
	margin-right: 3rem;
}
#subpageHeader {
	font-family: "Henderson BCG Serif Head";
	font-size: 4.5vw;
	color: #85a9a0;
}

.subpageText,
li {
	font-family: "Henderson BCG Sans";
	font-size: 2.5vw;
	color: #6a6a6a;
}

#subpageURL {
	font-family: "Henderson BCG Sans";
	font-size: 2.5vw;
	color: #85a9a0;
}
#subpageURL a {
	color: #85a9a0;
}
#subpageURL a:visited {
	color: #617c76;
}
#subpageURL a:hover {
	color: #acc7c0;
}

h3 {
	font-family: "Henderson BCG Serif Head";
	font-size: 3vw;
	color: #6a6a6a;
}

li b {
	font-family: "Henderson BCG Serif Head";
	font-size: 2.8vw;
	color: black;
}
